<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlnx.device_server.mybatis.mapper.TDeviceMapper" >

  <resultMap id="EcgDeviceInfoMap" type="com.mlnx.device.ecg.EcgDeviceInfo" >
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="ecg_device_run_mode" property="ecgDeviceRunMode"
            typeHandler="com.mlnx.device_server.mybatis.type_handle.ECGDeviceRunModeHandler"/>
    <result column="ecg_channel_type" property="ecgChannelType"
            typeHandler="com.mlnx.device_server.mybatis.type_handle.ECGChannelTypeHandler"/>
    <result column="cpuid" property="cpuId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getPatientId" resultType="java.lang.Integer" parameterType="java.lang.String"  >
    select patient_id
    from t_device
    WHERE numeration = #{deviceId,jdbcType=VARCHAR}
    limit 1
  </select>

  <select id="getEcgDeviceInfo" resultMap="EcgDeviceInfoMap" parameterType="java.lang.String">
    select ecg.ecg_device_run_mode, ecg.ecg_channel_type, ecg.cpuid, device.patient_id
    from t_ecg_device ecg, t_device device
    WHERE ecg.id=device.id AND device.numeration=#{deviceId,jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>